apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-fny0
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ujhx-tenant/rhtap-demo-app/hacbs-test-project-fny0@sha256:3b057c8590bdbdd3c81d1a14a17ed7a66383e15eb8d76fd5c2dba40db628edc0
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
