apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-fny0
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-fny0
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-fny0
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-fny0
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-fny0
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ujhx-tenant/rhtap-demo-app/hacbs-test-project-fny0@sha256:3b057c8590bdbdd3c81d1a14a17ed7a66383e15eb8d76fd5c2dba40db628edc0
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
